.cont{
    background-color:rgba(104, 4, 37, 0.986);
     height: 7.5cm;
     margin-left: 10cm;
     margin-right: 10cm;
    
}
body{
    background-color:rgba(165, 17, 66, 0.986) ;
    

}
.container
{

 
    text-align: center;
    margin-top: 10%;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
justify-content: center;
}
.text

{
    color: white;
}
#sub{
    width: 7.5cm;
    height: 0.9cm;
    color:black ;
    font-size: medium;
    border-color: white;
    background-color: white;
    margin-left: 4.8cm;
    border-radius: 5px;

}
